<div class="container">
  <div class="btn Logo">
    <a href="./index.html"><img src="../assets/img/logo.png" alt="Logo" /></a>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Search..." />
    <button class="btn" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <ul class="links-menu">
    <li><a href="#">الرئسية</a></li>
    <li><a href="#">المنتجات</a></li>
    <li><a href="#">العروض</a></li>
    <li><a href="#">السله</a></li>
    <li><a href="#">تسجيل دخول</a></li>
  </ul>

  <div class="burger-menu">
    <button class="burger-btn btn">
      <i class="fas fa-bars"></i>
    </button>

    <ul class="burger-links">
      <li><a class="btn" href="./index.html">الرئيسية</a></li>
      <li><a class="btn" href="./html/products.html">المنتجات</a></li>
      <li><a class="btn" href="./html/offers.html">العروض</a></li>
      <li><a class="btn" href="./html/cart.html">السله</a></li>
      <li><a class="btn" href="#">تسجيل دخول</a></li>
    </ul>
  </div>
</div>
